body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Mukta Vaani", sans-serif;
  background: #ffffff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdfcfb,
    #e2d1c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdfcfb,
    #e2d1c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
